<header class="docs-header">
      <docs-breadcrumb></docs-breadcrumb>

      
  <!-- Page title -->
  <div class="docs-page-title">
    <h1 tabindex="-1" data-ng_translator_product="100" data-ng_translator_ref_id="ah1qcm2o8rsgoaurr2c6ymnmx">组件选择器</h1>
    <a class="docs-github-links" target="_blank" href="https://github.com/angular/angular/edit/main/adev/src/content/guide/components/selectors.md" title="Edit this page" aria-label="Edit this page">
      <!-- Pencil -->
      <docs-icon role="presentation">edit</docs-icon>
    </a>
  </div>
    </header>
    
    <div class="docs-alert docs-alert-tip">
    <p data-ng_translator_product="100" data-ng_translator_ref_id="dgm70qgb782h0hajisr0uqi7a"><strong>提示：</strong>本指南假定你已经阅读了
<a href="essentials">基本指南</a>。如果你是 Angular 的新手，请先阅读该指南。</p>

    </div>
    <p data-ng_translator_product="100" data-ng_translator_ref_id="bxcfmndvy8r3h0l89mu4ohm8q">每个组件都定义了一个
<a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_selectors" target="_blank">CSS 选择器</a>，用于确定如何使用该组件：</p>
<div class="docs-code">
    
    <pre class="docs-mini-scroll-track">      <code><div class="hljs-ln-line"><span class="hljs-meta">@Component</span>({</div><div class="hljs-ln-line highlighted">  <span class="hljs-attr">selector</span>: <span class="hljs-string">'profile-photo'</span>,</div><div class="hljs-ln-line">  ...</div><div class="hljs-ln-line">})</div><div class="hljs-ln-line"><span class="hljs-keyword">export</span> <span class="hljs-keyword">class</span> <span class="hljs-title class_">ProfilePhoto</span> { }</div></code>
    </pre>
  </div><p data-ng_translator_product="100" data-ng_translator_ref_id="bxf7qz81nmvbeww8f9lx0iy5q">通过在
<em>其他</em>组件的模板中创建匹配的HTML元素来使用组件：</p>
<div class="docs-code">
    
    <pre class="docs-mini-scroll-track">      <code><div class="hljs-ln-line"><span class="hljs-meta">@Component</span>({</div><div class="hljs-ln-line">  <span class="hljs-attr">template</span>: <span class="hljs-string">`</span></div><div class="hljs-ln-line highlighted">    &lt;profile-photo /&gt;</div><div class="hljs-ln-line">    &lt;button&gt;Upload a new profile photo&lt;/button&gt;`,</div><div class="hljs-ln-line">  ...,</div><div class="hljs-ln-line">})</div><div class="hljs-ln-line"><span class="hljs-keyword">export</span> <span class="hljs-keyword">class</span> <span class="hljs-title class_">UserProfile</span> { }</div></code>
    </pre>
  </div><p data-ng_translator_product="100" data-ng_translator_ref_id="f5jrsc38pckqxco9rpwxwi4bw"><strong>Angular在编译时静态匹配选择器</strong>。在运行时改变DOM，无论是通过Angular绑定还是DOM API，都不会影响渲染的组件。</p>
<p data-ng_translator_product="100" data-ng_translator_ref_id="aog8vdjfknftrytagoqjjvfm5"><strong>一个元素只能匹配一个组件选择器。</strong>如果多个组件选择器匹配一个元素，Angular会报错。</p>
<p><strong data-ng_translator_product="100" data-ng_translator_ref_id="dfyng16q8rx1ch80hblsjwn4e">组件选择器是区分大小写的。</strong></p>

  <h2 id="types-of-selectors">
    <a href="#types-of-selectors" class="docs-anchor" tabindex="-1" aria-label="Link to Types of selectors" data-ng_translator_product="100" data-ng_translator_ref_id="8lorhankp3xkrav4azrxai938">选择器类型</a>
  </h2>
  <p data-ng_translator_product="100" data-ng_translator_ref_id="5r4ozcja8zspd4c2juy52jdrh">Angular 在组件选择器中支持一组
<a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Selectors" target="_blank">基本 CSS 选择器类型</a>：</p>

  <div class="docs-table docs-scroll-track-transparent">
    <table>
      <thead>
        <tr>
<th><strong data-ng_translator_product="100" data-ng_translator_ref_id="60363y2q2mkmrkl1h9dhi6p5n">选择器类型</strong></th>
<th><strong data-ng_translator_product="100" data-ng_translator_confirmed data-ng_translator_ref_id="ar5q09mdsagdppsbze96eagxl">说明</strong></th>
<th><strong data-ng_translator_product="100" data-ng_translator_ref_id="f4iecnoqh39op5dvxqr6b3gip">例子</strong></th>
</tr>

      </thead>
      <tbody>
        <tr>
<td data-ng_translator_product="100" data-ng_translator_ref_id="8r29si9majr3jinddqqrjv20a">类型选择器</td>
<td data-ng_translator_product="100" data-ng_translator_ref_id="bg6onwsyrqmo7nmdk8j26edt2">根据HTML标签名称或节点名称匹配元素。</td>
<td><code>profile-photo</code></td>
</tr>
<tr>
<td data-ng_translator_product="100" data-ng_translator_ref_id="5cwickp8641t1au8s2lyfmm95">属性选择器</td>
<td data-ng_translator_product="100" data-ng_translator_ref_id="c7wycxldo8jp6npvyyutyv8nb">根据HTML属性的存在以及可选的属性确切值匹配元素。</td>
<td data-ng_translator_product="100" data-ng_translator_ref_id="3x8tvkrv3pu4gfox71xjb67bc"><code>[dropzone]</code> 
<code>[type="reset"]</code></td>
</tr>
<tr>
<td data-ng_translator_product="100" data-ng_translator_ref_id="80uqylenfu0anf93o6pn9hkpe">类选择器</td>
<td data-ng_translator_product="100" data-ng_translator_ref_id="2hjn141mouqfhmbbqzwx71fh2">根据CSS类的存在匹配元素。</td>
<td><code>.menu-item</code></td>
</tr>

      </tbody>
    </table>
  </div>
  <p data-ng_translator_product="100" data-ng_translator_ref_id="4593gdytc4fd1x2g8xy4obx9r">对于属性值，Angular 支持使用等号（
<code>=</code>）运算符匹配确切的属性值。Angular 不支持其他属性值运算符。</p>
<p data-ng_translator_product="100" data-ng_translator_ref_id="1jrp882zdm8yjbd7wg9omtwzh">Angular 组件选择器不支持组合器，包括
<a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Descendant_combinator" target="_blank">后代组合器</a>或
<a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Child_combinator" target="_blank">子组合器</a>。</p>
<p data-ng_translator_product="100" data-ng_translator_ref_id="b1e5y4zmoaxzvopru39hg71be">Angular 组件选择器不支持指定
<a href="https://developer.mozilla.org/en-US/docs/Web/SVG/Namespaces_Crash_Course" target="_blank">命名空间</a>。</p>

  <h3 id="the-not-pseudo-class">
    <a href="#the-not-pseudo-class" class="docs-anchor" tabindex="-1" aria-label="Link to The <code>:not</code> pseudo-class" data-ng_translator_product="100" data-ng_translator_ref_id="48mrl29qtx0hsv75dwttv0bk8"><code>:not</code> 伪类</a>
  </h3>
  <p data-ng_translator_product="100" data-ng_translator_ref_id="jiswt04bnquhlh1k35wzdzgd">Angular 支持
<a href="https://developer.mozilla.org/en-US/docs/Web/CSS/:not" target="_blank">伪类 <code>:not</code></a>。你可以将这个伪类附加到任何其他选择器上，以缩小组件选择器匹配的元素范围。例如，你可以定义一个
<code>[dropzone]</code>属性选择器并阻止匹配
<code>textarea</code>元素：</p>
<div class="docs-code">
    
    <pre class="docs-mini-scroll-track">      <code><div class="hljs-ln-line"><span class="hljs-meta">@Component</span>({</div><div class="hljs-ln-line highlighted">  <span class="hljs-attr">selector</span>: <span class="hljs-string">'[dropzone]:not(textarea)'</span>,</div><div class="hljs-ln-line">  ...</div><div class="hljs-ln-line">})</div><div class="hljs-ln-line"><span class="hljs-keyword">export</span> <span class="hljs-keyword">class</span> <span class="hljs-title class_">DropZone</span> { }</div></code>
    </pre>
  </div><p data-ng_translator_product="100" data-ng_translator_ref_id="bx2alipzeazrkfdwa9gbmlg1v">Angular 不支持组件选择器中的其他伪类或伪元素。</p>

  <h3 id="combining-selectors">
    <a href="#combining-selectors" class="docs-anchor" tabindex="-1" aria-label="Link to Combining selectors" data-ng_translator_product="100" data-ng_translator_ref_id="akm8vvo6ozlwj55w1k6ud7k8p">组合选择器</a>
  </h3>
  <p data-ng_translator_product="100" data-ng_translator_ref_id="ej73b5u40qhkmeguyxcd5v04s">你可以通过连接它们来组合多个选择器。例如，你可以匹配指定了
<code>type="reset"</code>的
<code>&lt;button&gt;</code>元素：</p>
<div class="docs-code">
    
    <pre class="docs-mini-scroll-track">      <code><div class="hljs-ln-line"><span class="hljs-meta">@Component</span>({</div><div class="hljs-ln-line highlighted">  <span class="hljs-attr">selector</span>: <span class="hljs-string">'button[type="reset"]'</span>,</div><div class="hljs-ln-line">  ...</div><div class="hljs-ln-line">})</div><div class="hljs-ln-line"><span class="hljs-keyword">export</span> <span class="hljs-keyword">class</span> <span class="hljs-title class_">ResetButton</span> { }</div></code>
    </pre>
  </div><p data-ng_translator_product="100" data-ng_translator_ref_id="dfceiyasyeirfzxo481ed9bmm">你也可以使用逗号分隔的列表定义多个选择器：</p>
<div class="docs-code">
    
    <pre class="docs-mini-scroll-track">      <code><div class="hljs-ln-line"><span class="hljs-meta">@Component</span>({</div><div class="hljs-ln-line highlighted">  <span class="hljs-attr">selector</span>: <span class="hljs-string">'drop-zone, [dropzone]'</span>,</div><div class="hljs-ln-line">  ...</div><div class="hljs-ln-line">})</div><div class="hljs-ln-line"><span class="hljs-keyword">export</span> <span class="hljs-keyword">class</span> <span class="hljs-title class_">DropZone</span> { }</div></code>
    </pre>
  </div><p data-ng_translator_product="100" data-ng_translator_ref_id="8wvs3hdr6m1fjd1mbrzyap1ni">Angular 为匹配列表中
<em>任何</em>选择器的每个元素创建一个组件。</p>

  <h2 id="choosing-a-selector">
    <a href="#choosing-a-selector" class="docs-anchor" tabindex="-1" aria-label="Link to Choosing a selector" data-ng_translator_product="100" data-ng_translator_ref_id="c2fq1lfrstaxjbq2fhwemb9n0">选择选择器</a>
  </h2>
  <p data-ng_translator_product="100" data-ng_translator_ref_id="d7jg6r0vooa8hb01gnxmyp96d">绝大多数组件应使用自定义元素名称作为其选择器。所有自定义元素名称应包含一个连字符（如 
<a href="https://html.spec.whatwg.org/multipage/custom-elements.html#valid-custom-element-name" target="_blank">HTML 规范</a> 所述）。默认情况下，如果遇到不匹配任何可用组件的自定义标签名称，Angular 会报告错误，从而防止由于组件名称拼写错误导致的 bug。</p>
<p data-ng_translator_product="100" data-ng_translator_ref_id="5zby0w07nxl2n81fsfxjzsrv8">详情见 
<a href="guide/components/advanced-configuration">高级组件配置</a>，了解在 Angular 模板中使用 
<a href="https://developer.mozilla.org/en-US/docs/Web/Web_Components" target="_blank">原生自定义元素</a>。</p>

  <h3 id="selector-prefixes">
    <a href="#selector-prefixes" class="docs-anchor" tabindex="-1" aria-label="Link to Selector prefixes" data-ng_translator_product="100" data-ng_translator_ref_id="34lcdmn9jwsl56iilmsr9r25j">选择器前缀</a>
  </h3>
  <p data-ng_translator_product="100" data-ng_translator_ref_id="2msxbtu4cjtwtv7jbcjp7hrrt">Angular 团队建议为项目内定义的所有自定义组件使用简短、一致的前缀。例如，如果你使用 Angular 构建 YouTube，可以为组件添加前缀 
<code>yt-</code>，比如 
<code>yt-menu</code>、
<code>yt-player</code> 等。这样命名空间化选择器可以立即明确某个组件的来源。默认情况下，Angular CLI 使用 
<code>app-</code>。</p>
<p data-ng_translator_product="100" data-ng_translator_ref_id="5i0pypmn02vpk5jta5z8apbkh">Angular 使用 
<code>ng</code> 选择器前缀用于其自身框架 API。切勿将 
<code>ng</code> 用作自定义组件的选择器前缀。</p>

  <h3 id="when-to-use-an-attribute-selector">
    <a href="#when-to-use-an-attribute-selector" class="docs-anchor" tabindex="-1" aria-label="Link to When to use an attribute selector" data-ng_translator_product="100" data-ng_translator_ref_id="5eiidgwa57v9bj179h2l56dfo">何时使用属性选择器</a>
  </h3>
  <p data-ng_translator_product="100" data-ng_translator_ref_id="7geok2aaissajtxob4g3fy9x4">当你希望在标准原生元素上创建组件时，可以考虑使用属性选择器。例如，如果你想创建一个自定义按钮组件，可以通过使用属性选择器利用标准 
<code>&lt;button&gt;</code> 元素：</p>
<div class="docs-code">
    
    <pre class="docs-mini-scroll-track">      <code><div class="hljs-ln-line"><span class="hljs-meta">@Component</span>({</div><div class="hljs-ln-line highlighted">  <span class="hljs-attr">selector</span>: <span class="hljs-string">'button[yt-upload]'</span>,</div><div class="hljs-ln-line">   ...</div><div class="hljs-ln-line">})</div><div class="hljs-ln-line"><span class="hljs-keyword">export</span> <span class="hljs-keyword">class</span> <span class="hljs-title class_">YouTubeUploadButton</span> { }</div></code>
    </pre>
  </div><p data-ng_translator_product="100" data-ng_translator_ref_id="5tytkm5dx22cozliuv2vsia8p">这种方法允许组件使用者直接使用该元素的所有标准 API，无需额外工作。这对于 ARIA 属性（如 
<code>aria-label</code>）尤其有价值。</p>
<p data-ng_translator_product="100" data-ng_translator_ref_id="1rznjp70nc47xy4pi8djjd4nx">当遇到不匹配任何可用组件的自定义属性时，Angular 不会报告错误。使用属性选择器的组件时，使用者可能会忘记导入组件或其 NgModule，导致组件无法渲染。详情见 
<a href="guide/components/importing">导入和使用组件</a>。</p>
<p data-ng_translator_product="100" data-ng_translator_ref_id="13psajazawrb6zv44dj9mwteu">定义属性选择器的组件应使用小写的、短横线连接的属性。你可以遵循上述相同的前缀建议。</p>
