<header class="docs-header">
      <docs-breadcrumb></docs-breadcrumb>

      
  <!-- Page title -->
  <div class="docs-page-title">
    <h1 tabindex="-1">表示式語法</h1>
    <a class="docs-github-links" target="_blank" href="https://github.com/angular/angular/edit/main/adev/src/content/guide/templates/expression-syntax.md" title="Edit this page" aria-label="Edit this page">
      <!-- Pencil -->
      <docs-icon role="presentation">edit</docs-icon>
    </a>
  </div>
    </header>
    <p>Angular 表示式基於 JavaScript，但在一些關鍵方面有所不同。本指南將介紹 Angular 表示式和標準 JavaScript 之間的異同。</p>

  <h2 id="value-literals">
    <a href="#value-literals" class="docs-anchor" tabindex="-1" aria-label="Link to Value literals">字面量值</a>
  </h2>
  <p>Angular 支援 JavaScript 的 <a href="https://developer.mozilla.org/en-US/docs/Glossary/Literal" target="_blank">字面量值</a> 的子集。</p>

  <h3 id="supported-value-literals">
    <a href="#supported-value-literals" class="docs-anchor" tabindex="-1" aria-label="Link to Supported value literals">支援的字面量值</a>
  </h3>
  
  <div class="docs-table docs-scroll-track-transparent">
    <table>
      <thead>
        <tr>
<th>字面量型別</th>
<th>範例值</th>
</tr>

      </thead>
      <tbody>
        <tr>
<td>字串</td>
<td><code>'Hello'</code>, <code>"World"</code></td>
</tr>
<tr>
<td>布林值</td>
<td><code>true</code>, <code>false</code></td>
</tr>
<tr>
<td>數字</td>
<td><code>123</code>, <code>3.14</code></td>
</tr>
<tr>
<td>物件</td>
<td><code>{name: 'Alice'}</code></td>
</tr>
<tr>
<td>陣列</td>
<td><code>['Onion', 'Cheese', 'Garlic']</code></td>
</tr>
<tr>
<td>null</td>
<td><code>null</code></td>
</tr>
<tr>
<td>樣板字串</td>
<td><code>`Hello ${name}`</code></td>
</tr>

      </tbody>
    </table>
  </div>
  
  <h3 id="unsupported-literals">
    <a href="#unsupported-literals" class="docs-anchor" tabindex="-1" aria-label="Link to Unsupported literals">不支援的字面量</a>
  </h3>
  
  <div class="docs-table docs-scroll-track-transparent">
    <table>
      <thead>
        <tr>
<th>字面量型別</th>
<th>範例值</th>
</tr>

      </thead>
      <tbody>
        <tr>
<td>RegExp</td>
<td><code>/\d+/</code></td>
</tr>
<tr>
<td>帶標籤的樣板字串</td>
<td><code>tag`Hello ${name}`</code></td>
</tr>

      </tbody>
    </table>
  </div>
  
  <h2 id="globals">
    <a href="#globals" class="docs-anchor" tabindex="-1" aria-label="Link to Globals">全域變數</a>
  </h2>
  <p>Angular 表示式支援以下<a href="https://developer.mozilla.org/en-US/docs/Glossary/Global_object" target="_blank">全域變數</a>：</p>

  <ul class="docs-list">
    <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/undefined" target="_blank">undefined</a></li>
<li><a href="https://www.typescriptlang.org/docs/handbook/2/everyday-types.html#any" target="_blank">$any</a></li>

  </ul>
  <p>不支援其他 JavaScript 全域變數。常見的 JavaScript 全域變數包括 <code>Number</code>、<code>Boolean</code>、<code>NaN</code>、<code>Infinity</code>、<code>parseInt</code> 等。</p>

  <h2 id="local-variables">
    <a href="#local-variables" class="docs-anchor" tabindex="-1" aria-label="Link to Local variables">區域性變數</a>
  </h2>
  <p>在特定上下文中，Angular 會自動提供特殊的區域性變數以在表示式中使用。這些特殊變數始終以美元符號 (<code>$</code>) 開頭。</p>
<p>例如，<code>@for</code> 控制區塊會建立多個與迴圈訊息相對應的區域性變數，例如 <code>$index</code>。</p>

  <h2 id="what-operators-are-supported">
    <a href="#what-operators-are-supported" class="docs-anchor" tabindex="-1" aria-label="Link to What operators are supported?">支援哪些運算子？</a>
  </h2>
  
  <h3 id="supported-operators">
    <a href="#supported-operators" class="docs-anchor" tabindex="-1" aria-label="Link to Supported operators">支援的運算子</a>
  </h3>
  <p>Angular 支援來自標準 JavaScript 的以下運算子。</p>

  <div class="docs-table docs-scroll-track-transparent">
    <table>
      <thead>
        <tr>
<th>運算子</th>
<th>範例</th>
</tr>

      </thead>
      <tbody>
        <tr>
<td>加法 / 連線</td>
<td><code>1 + 2</code></td>
</tr>
<tr>
<td>減法</td>
<td><code>52 - 3</code></td>
</tr>
<tr>
<td>乘法</td>
<td><code>41 * 6</code></td>
</tr>
<tr>
<td>除法</td>
<td><code>20 / 4</code></td>
</tr>
<tr>
<td>求餘（取模）</td>
<td><code>17 % 5</code></td>
</tr>
<tr>
<td>圓括號</td>
<td><code>9 * (8 + 4)</code></td>
</tr>
<tr>
<td>條件（三元）</td>
<td><code>a &gt; b ? true : false</code></td>
</tr>
<tr>
<td>與（邏輯與）</td>
<td><code>&amp;&amp;</code></td>
</tr>
<tr>
<td>或（邏輯或）</td>
<td><code>||</code></td>
</tr>
<tr>
<td>非（邏輯非）</td>
<td><code>!</code></td>
</tr>
<tr>
<td>空值合併</td>
<td><code>const foo = null ?? 'default'</code></td>
</tr>
<tr>
<td>比較運算符</td>
<td><code>&lt;</code>、<code>&lt;=</code>、<code>&gt;</code>、<code>&gt;=</code>、<code>==</code>、<code>===</code>、<code>!==</code></td>
</tr>
<tr>
<td>一元取反</td>
<td><code>const y = -x</code></td>
</tr>
<tr>
<td>一元加</td>
<td><code>const x = +y</code></td>
</tr>
<tr>
<td>屬性訪問器</td>
<td><code>person['name'] = 'Mirabel'</code></td>
</tr>

      </tbody>
    </table>
  </div>
  <p>此外，Angular 表示式還支援以下非標準運算子：</p>

  <div class="docs-table docs-scroll-track-transparent">
    <table>
      <thead>
        <tr>
<th>運算子</th>
<th>範例</th>
</tr>

      </thead>
      <tbody>
        <tr>
<td><a href="/guide/templates/pipes">通道</a></td>
<td><code>{{ total | currency }}</code></td>
</tr>
<tr>
<td>可選鏈式呼叫*</td>
<td><code>someObj.someProp?.nestedProp</code></td>
</tr>
<tr>
<td>非空斷言（TypeScript）</td>
<td><code>someObj!.someProp</code></td>
</tr>

      </tbody>
    </table>
  </div>
  <p>*注意：可選鏈式呼叫的行為與標準 JavaScript 版本不同，如果 Angular 可選鏈式呼叫運算子的左側是 <code>null</code> 或 <code>undefined</code>，它將回傳 <code>null</code> 而不是 <code>undefined</code>。</p>

  <h3 id="unsupported-operators">
    <a href="#unsupported-operators" class="docs-anchor" tabindex="-1" aria-label="Link to Unsupported operators">不支援的運算子</a>
  </h3>
  
  <div class="docs-table docs-scroll-track-transparent">
    <table>
      <thead>
        <tr>
<th>運算子</th>
<th>範例</th>
</tr>

      </thead>
      <tbody>
        <tr>
<td>所有位運算符</td>
<td><code>&amp;</code>、<code>&amp;=</code>、<code>~</code>、<code>|=</code>、<code>^=</code> 等。</td>
</tr>
<tr>
<td>賦值運算符</td>
<td><code>=</code></td>
</tr>
<tr>
<td>物件解構</td>
<td><code>const { name } = person</code></td>
</tr>
<tr>
<td>陣列解構</td>
<td><code>const [firstItem] = items</code></td>
</tr>
<tr>
<td>逗號運算符</td>
<td><code>x = (x++, x)</code></td>
</tr>
<tr>
<td>typeof</td>
<td><code>typeof 42</code></td>
</tr>
<tr>
<td>void</td>
<td><code>void 1</code></td>
</tr>
<tr>
<td>in</td>
<td><code>'model' in car</code></td>
</tr>
<tr>
<td>instanceof</td>
<td><code>car instanceof Automobile</code></td>
</tr>
<tr>
<td>new</td>
<td><code>new Car()</code></td>
</tr>

      </tbody>
    </table>
  </div>
  
  <h2 id="lexical-context-for-expressions">
    <a href="#lexical-context-for-expressions" class="docs-anchor" tabindex="-1" aria-label="Link to Lexical context for expressions">表示式的詞法上下文</a>
  </h2>
  <p>Angular 表示式是在元件類別的上下文中求值的，以及任何相關的 <a href="/guide/templates/variables">樣板變數</a>、區域性變數和全域變數。</p>
<p>當引用類別成員時，總是預設使用 <code>this</code>。</p>

  <h2 id="declarations">
    <a href="#declarations" class="docs-anchor" tabindex="-1" aria-label="Link to Declarations">物件宣告</a>
  </h2>
  <p>一般來說，Angular 表示式不支援物件宣告。這包括但不限於：</p>

  <div class="docs-table docs-scroll-track-transparent">
    <table>
      <thead>
        <tr>
<th>物件宣告</th>
<th>範例</th>
</tr>

      </thead>
      <tbody>
        <tr>
<td>變數</td>
<td><code>let label = 'abc'</code>，<code>const item = 'apple'</code></td>
</tr>
<tr>
<td>函式</td>
<td><code>function myCustomFunction() { }</code></td>
</tr>
<tr>
<td>箭頭函式</td>
<td><code>() =&gt; { }</code></td>
</tr>
<tr>
<td>類</td>
<td><code>class Rectangle { }</code></td>
</tr>

      </tbody>
    </table>
  </div>
  
    <header class="docs-header">
      <docs-breadcrumb></docs-breadcrumb>

      
  <!-- Page title -->
  <div class="docs-page-title">
    <h1 tabindex="-1">事件監聽器語句</h1>
    <a class="docs-github-links" target="_blank" href="https://github.com/angular/angular/edit/main/adev/src/content/guide/templates/expression-syntax.md" title="Edit this page" aria-label="Edit this page">
      <!-- Pencil -->
      <docs-icon role="presentation">edit</docs-icon>
    </a>
  </div>
    </header>
    <p>事件處理程式是<strong>語句</strong>而不是表示式。雖然它們支援與 Angular 表示式相同的所有語法，但有兩個主要區別：</p>

    <ol class="docs-ordered-list">
      <li>語句<strong>確實支援</strong>賦值運算符（但不支援解構賦值）</li>
<li>語句<strong>不支援</strong>通道</li>

    </ol>
    